[Unit]
Description=cliphist daemon

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=sh -c ${HOME}/.bin/clipnotify
Restart=always

[Install]
WantedBy=default.target
