/*

!.gitignore
!.gitmodules

!.bashrc
!.bash_profile
!.bash/
!.inputrc

# .config
!.config/
.config/*

# public configs
!.config/.pkglists
!.config/nvim
!.config/lf
!.config/kitty
!.config/alacritty
!.config/friendly-snippets
!.config/mpv
!.config/dunst
!.config/sxiv

# semi-public configs
!.config/git
.config/git/*
!.config/git/config

!.config/tmux/
.config/tmux/*
!.config/tmux/tmux.conf
