/*

!Makefile
!README.md
!.gitignore
!.gitmodules

!.bin/

!.inputrc

!.shellrc

!.bashrc
!.bash_profile

!.zshrc
!.zprofile

!.xinitrc
# xrdb ~/.Xresource
!.Xresources

!.gtkrc-2.0

!.config/

*.log
*.db
*.local
