[submodule ".config/friendly-snippets"]
	path = .config/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule ".config/alacritty/alacritty-theme"]
	path = .config/alacritty/alacritty-theme
	url = git@github.com:alacritty/alacritty-theme.git
