/*

!.bash_profile
!.bashrc
!.environ
!.gitignore
!.gitmodules
!.inputrc
!.nanorc
!.profile
!.shellrc
!.xinitrc
!.Xresources
!.zprofile
!.zshrc

!.bin/
!.config/
!.emacs.d/
!.mozilla/
!.vim/

!.cargo/
.cargo/*
!.cargo/config

!.ssh/
.ssh/*
!.ssh/config
