@theme "/home/phanium/.local/share/rofi/themes/spotlight-dark.rasi"

configuration {
  font: "FiraCode Nerd Font Mono 12";
  kb-remove-word-back: "Control+w,Control+BackSpace";
  kb-clear-line: "";
  kb-row-first: "Control+g";
  kb-cancel: "Escape";
}
