/*
!alacritty
!bspwm
!dunst
!fcitx5
!fish
!fontconfig
!gh-dash
!git
!hypr
!kitty
!kmonad
!lazygit
!lesskey
!looking-glass
!Microsoft.PowerShell_profile.ps1
!mpv
!newsboat
!nvim
!pkglists
!polybar
!rofi
!stylua.toml
!sway
!sxhkd
!sxiv
!systemd
!tealdeer
!tmux
!wezterm
!yazi
!zathura
