/*

!.pkglists
!alacritty
!bash
!bspwm
!dunst
!fcitx5
!fish
!git
!kitty
!kmonad
!lf
!mpv
!neofetch
!nvim
!polybar
!rofi
!sxhkd
!sxiv
!systemd
!tmux
!lazygit
!hypr
!electron-flags.conf
!wezterm

# gsettings set org.gnome.desktop.interface gtk-key-theme "Emacs"
# xfconf-query -c xsettings -p /Gtk/KeyThemeName -s Emacs
!gtk-3.0
