/*

!pkglists

!alacritty
!kitty
!wezterm

!fish
!bash
!nushell

!bspwm
!hypr

!vifm
!joshuto
!lf

!nvim

!dunst
!fcitx5
!git
!kmonad
!mpv
!neofetch

!polybar
!rofi
!sxhkd
!sxiv
!systemd
!tmux
!lazygit

!zathura

!looking-glass

!electron-flags.conf

# gsettings set org.gnome.desktop.interface gtk-key-theme "Emacs"
# xfconf-query -c xsettings -p /Gtk/KeyThemeName -s Emacs
!gtk-3.0
